/* src/components/Navbar.css */
.navbar {
  background-color: var(--primary-color);
  color: white;
  padding: 0.8rem 0; /* Ajustado padding */
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  position: sticky; /* Fixa no topo ao rolar */
  top: 0;
  z-index: 100; /* Garante que fique sobre outros elementos */
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px; /* Garante padding interno no container */
}

.navbar-title {
  font-size: 1.75rem; /* Ajustado */
  font-weight: 700; /* Mais negrito */
  text-decoration: none;
  color: white;
}
.navbar-title:hover {
  opacity: 0.9;
}

.navbar-button {
  background-color: var(--success-color);
  color: white;
  border: none;
  padding: 0.6em 1.2em; /* Padding um pouco maior */
}

.navbar-button:hover {
  background-color: var(--success-hover-color);
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}