/* src/App.css */
.app-container {
  min-height: 100vh;
}

.book-list-container {
  display: grid;
  /* Cria colunas responsivas:
     - auto-fill: preenche com o máximo de colunas que couberem.
     - minmax(280px, 1fr): cada coluna terá no mínimo 280px e no máximo 1 fração do espaço disponível.
  */
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 1.5rem; /* Espaço entre os cards */
  padding-top: 1.5rem; /* Espaço acima da lista de cards */
}

.no-books-message {
  text-align: center;
  color: #6c757d;
  margin-top: 3rem;
  font-size: 1.2rem;
  grid-column: 1 / -1; /* Para ocupar toda a largura do grid se não houver livros */
}