/* src/App.css */
.app-container {
  min-height: 100vh; /* Garante que o container ocupe toda a altura da tela */
}

.book-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Centraliza os cards horizontalmente */
  gap: 10px; /* Espaço entre os cards */
  padding: 20px 0; /* Adiciona padding vertical */
}

.no-books-message {
  text-align: center;
  color: #777;
  margin-top: 30px;
  font-size: 1.1em;
}